name: Check if a Docker image can be built

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.5
    - name: Build the Docker image
      env:
        # @see https://docs.docker.com/develop/develop-images/build_enhancements/
        COMPOSE_DOCKER_CLI_BUILD: "1"
        DOCKER_BUILDKIT: "1"
      run: docker build . --tag ${{ github.repository }}

    - name: Image details
      run: docker images | head

    - name: Run info.sh
      run:  docker run -t ${{ github.repository }} sh info.sh
